---
---

$img-size: 100vh
$glass-size: 25vh

$desktop: "(min-width: 680px)"
$mobile: "(max-width: 680px)"
$verysmall: "(max-width: 380px)"

$blue: #5089c7
$sans: "Roboto", sans-serif
$serif: "Old Standard TT", serif

*
    box-sizing: border-box

body 
    font-family: $sans
    background-color: #e5e5e2
    margin: 0


nav.mobile
    display: none
nav
    padding: 1rem
    background-color: rgba(0, 0, 0, 0.2)
    position: absolute
    top: 0
    display: flex
    width: 100vw

    a
        color: #eee
        font-size: 1.1rem
        text-decoration: none
        padding: 0.4rem 2rem
        transition: color 250ms

    a:hover
        color: #fff
        cursor: pointer

span.logo
    color: #000
    font-weight: bold
    font-family: $serif
    font-size: 1.2rem

span.spacer
    flex-grow: 1

main
    margin: 0.5em auto 2em auto
    width: 80vw

footer
    padding: 1.5rem
    background-color: #444
    color: #aaa
    font-size: 0.9rem
    text-align: center

    a
        color: #aaa
        

h1, h2, h3, h4, h5, h6
    font-family: $serif
    margin: 0.75em 0 0.5em

p
    text-align: justify
    text-indent: 2em
    line-height: 1.25
    margin: 0

p:first-of-type
    text-indent: 0

ul.case-list
    display: flex
    flex-wrap: wrap
    margin: 0.75em 0 0 0 
    padding: 0

    li
        list-style: none
        flex-basis: 15em
        background-color: #fcfcfc
        box-shadow: 0 1px 2px rgba(0, 0, 10, 0.3)
        margin: 0.5em
        padding: 1em
        font-variant: small-caps
        flex-grow: 1
        border-radius: 2px
        transition: box-shadow 300ms

    li:hover
        cursor: pointer
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.35)

    li:active
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3)

    h2
        margin-top: 0

    .party
        font-family: $serif
        line-height: 0.95
        padding: 0.4em
        border-radius: 3px

    .winning
        background-color: $blue
        color: white
    .winning.right
        background-color: #3c4
    .winning.wrong
        background-color: #e44

    .vs
        margin: 0.3em 2em 0.3em 2em
        font-variant: normal
        font-family: "Times New Roman", serif
        font-style: italic

section h1
    font-size: 2em

h1.title
    color: white
    position: relative
    margin: 0
    padding: 0.5em
    font-size: 7.2vh
    line-height: calc(25vh - 1em)
    text-align: center
    height: $glass-size

.bg-image
    position: absolute
    top: 0
    height: $img-size
    width: 100vw
    background-position: center
    background-image: url("{{site.baseurl}}/assets/court.jpg")
    background-size: cover
    background-color: $blue
    z-index: -2

.glass 
    background: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7))
    width: 100vw
    height: $glass-size
    margin-top: $img-size - $glass-size
    overflow: hidden
    transform: translateY(100%) translateY(-$glass-size)
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5)

button.nav
    position: absolute
    right: calc(50% - 2rem)
    bottom: 0.5rem
    height: 4rem
    font-size: 2.5rem
    background-color: transparent
    border: none
    color: transparent
    border-radius: 10em
    width: 4rem
    font-family: Arial
    padding-left: 0.5rem
    outline: none
    transform: scaleX(1.5)
    transition: color 1200ms

button.nav:hover
    cursor: pointer
    color: #fff


@media #{$mobile} 

    main
        margin: 0
        padding: 0.5em 1em 2em 1em
        width: 100vw

    h1.title
        font-size: 6.2vh
        line-height: 1.1

    nav a 
        padding: 0.4rem 1rem

@media #{$verysmall} 
    main
        margin: 0
        padding: 0.4em 0.8em 2em 0.8em
        width: 100vw

    h1.title
        font-size: 5.6vh
        line-height: 1.1

    nav a 
        padding: 0.4rem 1rem

    nav.desktop
        display: none
    nav.mobile
        display: flex
